@import "tailwindcss";

:root {
  --background: #0a0a0a; /* hitam */
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: #0a0a0a;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, Mont;
}

.navbar {
  width: 900px;
  margin: 0 auto;
  position: fixed;
  top: 20;
  left: 0;
  right: 0;

  z-index: 1000;
  border: 1px solid #303030;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.762); /* hitam transparan */
  backdrop-filter: blur(20px);
  --webkit-backdrop-filter: blur(20px);
}

.nav-links ul li {
  margin-left: 30px;
}

.nav-links ul li a {
  color: #ffffff;
  text-decoration: none;

  font-size: 14px;
  transition: color 0.3s ease;
}

.btn-contact {
  background: linear-gradient(
    90deg,
    rgba(237, 30, 40, 0.8) 0%,
    rgba(138, 6, 16, 0.8) 100%
  );
  color: white;
  padding: 8px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease, box-shadow 0.3s;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.btn-contact:hover {
  background: linear-gradient(
    90deg,
    rgba(237, 30, 40, 0.95) 0%,
    rgba(138, 6, 16, 0.95) 100%
  );
  box-shadow: 0 8px 24px rgba(237, 30, 40, 0.18);
}

.navbar-responsive {
  background: rgba(11, 11, 11, 0.896); /* hitam transparan */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.flip-hover {
  display: inline-block;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.flip-hover:hover {
  transform: rotateX(180deg);
}

@media (max-width: 1024px) {
  .navbar {
    width: 95%;
    margin: auto;
  }
}

.main-title-hero {
  font-size: 5rem;
  max-width: 650px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--foreground);
  margin-top: 25px;
  margin-bottom: 15px;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-text {
  background-size: 300% 100%;
  animation: gradient-move 8s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sec-title-hero {
  max-width: 500px;
}

.btn-started {
  background: linear-gradient(
    90deg,
    rgba(67, 0, 154, 0.8) 0%,
    rgba(138, 6, 16, 0.8) 100%
  );
  color: white;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease, box-shadow 0.3s;
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
}

.running-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--foreground);
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.3333%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.slider {
  mask: linear-gradient(to right, transparent 0%, black 50%, transparent 100%);
}

.mission-container {
  width: 85%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 150px;
}

.mission-content {
  font-size: 4rem;
  margin-top: 30px;
  max-width: 600px;
  font-weight: 500;
  line-height: 60px;
}

.mission-desc {
  max-width: 400px;
}

.mission-content-span {
  color: #97a2a8;
}

.innovation-research-container {
  width: 85%;
  margin: auto;
  padding-top: 100px;
  display: flex;

  align-items: center;

  padding-bottom: 20px;
}

.innovation-research-section {
  background-color: white;
}

.first-desc {
  color: #0a0a0a;
  font-size: 3rem;
  font-weight: 500;
  line-height: 45px;
}

.second-desc {
  color: #97a2a8;
  font-size: 3rem;
  font-weight: 500;
  line-height: 45px;
}

.innovation-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.vertical-dashed-line {
  height: 160px; /* tinggi garis */
  border-left: 2px dashed #bcbfc6;
}

.innovation-badge-container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}

.badge-icon-container {
  height: 40px;
  width: 40px;
  background-color: #bcbfc6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.badge-desc {
  margin-top: 5px;
  width: 200px;
}

@media (max-width: 1024px) {
  .main-title-hero {
    font-size: 3rem;
    max-width: 80%;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .sec-title-hero {
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mission-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .mission-content {
    font-size: 2rem;
    line-height: 35px;
    margin-bottom: 20px;
    max-width: 90%;
  }

  .mission-desc {
    font-size: 15px;
  }
}

@media (max-width: 780px) {
  .innovation-image-container {
    margin-top: 40px;
  }
}

.projects-section-container {
  width: 85%;
  margin: auto;
  padding-top: 150px;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}

.project-section {
  background-color: white;
}
.right-side-project {
  margin-left: 100px;
}
.first-desc-project {
  color: #0a0a0a;
  font-size: 3rem;
  font-weight: 500;
  line-height: 45px;
}

.second-desc-project {
  font-size: 3rem;
  font-weight: 500;
  line-height: 45px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.vertical-dashed-line {
  height: 160px; /* tinggi garis */
  border-left: 2px dashed #bcbfc6;
}

.badge-desc {
  margin-top: 5px;
  width: 200px;
}
.project-sub-desc {
  color: #36596c;
  font-size: 1rem;
  margin-top: 30px;
  max-width: 400px;
}
.button-explore-project {
  background: linear-gradient(
    90deg,
    rgba(100, 131, 216, 0.8) 0%,
    rgba(22, 25, 203, 0.8) 100%
  );
  color: white;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease, box-shadow 0.3s;
  font-weight: 500;
  font-size: 16px;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .projects-section-container {
    flex-direction: column;
    align-items: start;
    padding-top: 50px;
    align-items: start;
  }
  .project-sub-desc {
    margin-top: 5px;
  }

  .button-explore-project {
    margin-top: 20px;
  }

  .right-side-project {
    margin-left: 0px;
  }
  .left-side-project {
    margin-bottom: 30px;
  }

  .left-side-innovation {
    order: 2;
  }
  .right-side-innovation {
    order: 1;
    margin-bottom: 30px;
  }

  /* .innovation-image-container {
    margin-top: 40px;
  } */
}

@media (max-width: 700px) {
  .first-desc-project {
    line-height: 10px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .second-desc-project {
    margin-bottom: 20px;
    max-width: 90%;
  }
}

.our-team-container {
  background-color: #0a0a0a;
}

.our-team-content-container {
  width: 80%;

  margin: auto;
  border: 2px solid #303030;
  margin-top: 80px;
  border-radius: 20px;
}

.our-team-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.our-team-title {
  font-size: 3rem;
  font-weight: 500;
}

.our-team-subtitle {
  font-size: 1.2rem;
  color: #97a2a8;
  margin-top: 10px;
  max-width: 600px;
  text-align: center;
}

.our-team-explore-btn {
  background: linear-gradient(
    90deg,
    rgba(144, 168, 239, 0.8) 0%,
    rgba(22, 25, 203, 0.8) 100%
  );
  color: white;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease, box-shadow 0.3s;
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
}

.contact-us-container {
  width: 80%;
  margin: auto;
  padding-top: 200px;

  padding-bottom: 80px;
}

.first-title-contact {
  font-size: 3rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 40px;
}
.second-title-contact {
  font-size: 3rem;
  font-weight: 500;
  color: #97a2a8;
}

.button-container-contact {
  display: flex;
  margin-top: 40px;
}

.button-contact-us {
  background: linear-gradient(
    90deg,
    rgba(92, 123, 214, 0.8) 0%,
    rgba(22, 25, 203, 0.8) 100%
  );
  color: white;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease, box-shadow 0.3s;
  font-weight: 500;
  font-size: 16px;
  margin-right: 5px;
}

.button-explore-contact {
  color: white;
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #919191;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease, box-shadow 0.3s;
  font-weight: 500;
  font-size: 16px;
}

.innovation-video-container video {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 90px;
}

.project-video-container video {
  width: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .innovation-research-container {
    flex-direction: column;
    align-items: start;
  }
  .innovation-image-container {
    margin-top: 40px;
  }
  .innovation-video-container video {
    width: 50%;
    height: 50%;
    margin-left: 0px;
    margin-top: 50px;
  }
  .project-video-container video {
    width: 50%;
    height: 50%;
    margin-left: 0px;
    margin-top: 50px;
  }
}

.ourteam-pages-container {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.ourteam-pages-maintitle {
  font-size: 5rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 80px;
  max-width: 500px;
  margin-top: 30px;
}

.ourteam-pages-chromagrid {
  background-color: #0a0a0a;
}

.list-lectures-container {
  width: 90%;
  margin: auto;
}

.list-students-container {
  width: 90%;
  margin: auto;
}

.glowing {
  box-shadow: 0 0 20px rgba(3, 60, 202, 0.8);
  animation: glowing-animation 1.5s infinite alternate;
}
@keyframes glowing-animation {
  from {
    box-shadow: 0 0 20px rgba(3, 60, 202, 0.8);
  }
  to {
    box-shadow: 0 0 40px rgba(3, 60, 202, 0.8);
  }
}

@media (max-width: 1000px) {
  .our-team-content-container {
    width: 95%;
    margin: auto;
  }

  .our-team-subtitle {
    font-size: 1rem;
    max-width: 90%;
    margin-top: 0px;
  }
  .first-title-contact {
    font-size: 2rem;
    line-height: 30px;
  }
  .second-title-contact {
    font-size: 2rem;
    line-height: 30px;
  }
  .button-container-contact {
    flex-direction: column;
  }
  .button-contact-us {
    width: 100%;
  }
  .button-explore-contact {
    width: 100%;
  }

  .glowing {
    box-shadow: 0 0 20px rgba(3, 60, 202, 0.8);
    animation: glowing-animation 1.5s infinite alternate;
    width: 100%;
  }
  @keyframes glowing-animation {
    from {
      box-shadow: 0 0 20px rgba(3, 60, 202, 0.8);
    }
    to {
      box-shadow: 0 0 40px rgba(3, 60, 202, 0.8);
    }
  }
}
